* {
  font: 13px verdana;
}

#nav a,
#content a {
  font: 13px verdana;
  color: #000;
}

#nav a:hover,
#content a:hover {
  color: #56f;
}

#center {
  margin: 0 auto;
  padding: 20px 0;
  width: 732px;
}

#left {
  float: left;
  position: fixed;
  width: 150px;
}

#profile img {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 150px;
}

#nav ul li {
  background: #eee;
  border: 1px solid #777;
  border-radius: 5px;
  float: left;
  height: 30px;
  margin-top: 2px;
  padding-top: 12px;
  text-align: center;
  width: 148px;
}

#nav ul li a {
  display: inline-block;
  text-decoration: none;
}

#nav ul li a span.navSite {
  font: 13px verdana;
}

#nav ul li img.navImg {
  float: left;
  margin-right: 5px;
}

#content {
  float: right;
  font: 13px verdana;
  margin-bottom: 100px;
  margin-left: 10px;
}

#top {
  height: 36px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #777;
  padding: 10px 10px 14px 10px;
  margin-bottom: 10px;
  width: 550px;
}

#top h1 a {
  font: 20px verdana;
  display: block;
  text-decoration: none;
}

#top a {
  margin-right: 5px;
}

#bottom {
  clear: both;
  background: #eee;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px;
  width: 550px;
}

#bottom h2 {
  font: 16px verdana;
  font-weight: bold;
  margin-bottom: 3px;
}

#bottom ul {
  margin-bottom: 10px;
}

#bottom ul li {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 5px;
  width: 530px;
}


#work-experience .company {
  display: inline-block;
}

#work-experience .company:after {
  content: ":"
}

#work-experience .dates {
  float: right;
}

#work-experience .role {
  display: block;
  margin-left: 20px;
}

#side-projects img {
  width: 100%;
}

@media only screen and (max-device-width : 480px) {
  #left {
    display: none;
  }
}
