#center {
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

#nav {
  float: left;
  width: 150px;
}

#nav ul li {
  background: #cdf;
  border: 1px solid #777;
  border-radius: 5px;
  float: left;
  height: 30px;
  margin-top: 2px;
  padding-top: 12px;
  text-align: center;
  width: 148px;
}

#nav ul li a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

#nav ul li a:hover {
  color: #fff;
}

#nav ul li a span.navSite {
  font: 12px verdana;
}

#nav ul li img.navImg {
  float: left;
  margin-right: 5px;
}

#content {
  float: right;
  padding: 0 20px;
  width: 610px;
}

#content h1 {
  font: 18px verdana;
  margin-bottom: 10px;
}

#content ul li {
  font: 12px verdana;
  list-style-type: disc;
  margin-left: 20px;
}

#content ul li li {
  list-style-type: square;
}

#footer {
  float: right;
  width: 650px;
}
